<div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{page.name}}
          </p>
          <!-- <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a> -->
        </header>
        <div class="card-content">
          <div class="content">
              <webview id="foo"></webview>
          </div>
        </div>
        <footer class="card-footer">
          Footer
        </footer>
      </div>