<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- key Column -->
    <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button *ngIf="keyEditOnAction!=element.action; else keyEdit"
                (click)="activateKeyRec(element.action)">
                <span *ngIf="element.key==null; else showKey">
                    Set Key
                </span>
                <ng-template #showKey>
                    {{keyboardTranslation(element.key)}}
                </ng-template>
            </button>
            <ng-template #keyEdit>
                <button mat-raised-button class="enter-key" color="primary" disabled>Press key now</button>
            </ng-template>
        </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> {{actionToString(element.action)}} </td>
    </ng-container>

    <!-- is active Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>