<div class="tabs is-boxed" *ngIf="tab$ | async as tabs">
  <ul>
    <li *ngFor="let tabItem of tabs" [ngClass]="{'is-active':tabItem.isSelected}">
      {{log(tabItem)}}
      <app-tabbar-item [tabItem]="tabItem" *ngIf="!tabItem.isEdit; else editItem"></app-tabbar-item>
      <ng-template #editItem>
        <app-tabbar-item-edit [tabItem]="tabItem"></app-tabbar-item-edit>
      </ng-template>

    </li>
    <li>
      <a (click)='newAction()'>
        <span class="icon is-small is-left">
          <fa-icon icon="plus"></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</div>