<div *ngIf="tabOptions$ | async as tabOptions">
  <div cdkDropList cdkDropListOrientation="horizontal" *ngIf="tab$ | async as tabs" class="example-list"
    (cdkDropListDropped)="drop($event)">
    <app-menu></app-menu>
    <div class="example-box" *ngFor="let tabItem of tabs; let i = index; let length = count"
      [ngClass]="{'is-active':tabOptions.selectedTab==tabItem.id}" (click)="click(tabItem,$event)" [cdkDragStartDelay]="10"
      cdkDrag>
      <div class="divider"></div>
      <div class="title" *ngIf="tabOptions.editTab!=tabItem.id; else edit">
        {{tabItem.name}}
      </div>
      <ng-template #edit>
        <app-tabbar-item-edit [tabItem]="tabItem"></app-tabbar-item-edit>
      </ng-template>
      <mat-icon class="close" inline="true" (click)="closeTab(tabItem,$event)">close</mat-icon>
      <!-- <mat-icon svgIcon="close" aria-hidden="false" aria-label="close tab"></mat-icon> -->
      <!-- <i class="material-icons">close</i> -->
    </div>
    <div (click)='newAction(tabs.length)' class="add-box">
      <i class="material-icons">add</i>
    </div>

  </div>
</div>

<!-- <mat-tab-group animationDuration="2000ms" *ngIf="tab$ | async as tabs">
  <mat-tab *ngFor="let tabItem of tabs" label="{{tabItem.title}}"></mat-tab>
  <a mat-tab-link *ngFor="let tabItem of tabs" [active]="tabItem.isSelected">
    <app-tabbar-item [tabItem]="tabItem" *ngIf="!tabItem.isEdit; else editItem"></app-tabbar-item>
    <ng-template #editItem>
      <app-tabbar-item-edit [tabItem]="tabItem"></app-tabbar-item-edit>
    </ng-template>
  </a>
  <a mat-tab-link (click)='newAction()'>
    <i class="material-icons">
      add
    </i>
  </a>
</mat-tab-group> -->

<!-- <div class="tabs is-boxed" *ngIf="tab$ | async as tabs">
  <ul>
    <li *ngFor="let tabItem of tabs" [ngClass]="{'is-active':tabItem.isSelected}">
      <app-tabbar-item [tabItem]="tabItem" *ngIf="!tabItem.isEdit; else editItem"></app-tabbar-item>
      <ng-template #editItem>
        <app-tabbar-item-edit [tabItem]="tabItem"></app-tabbar-item-edit>
      </ng-template>

    </li>
    <li>
      <a (click)='newAction()'>
        <span class="icon is-small is-left">
          <fa-icon icon="plus"></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</div> -->