<button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="actions">{{ 'MENU.ACTIONS.MENU_NAME' | translate }}</button>
    <button mat-menu-item (click)="showSettings()">{{ 'MENU.SETTINGS' | translate }}</button>
    <button mat-menu-item (click)="showHelp()">{{ 'MENU.HELP' | translate }}</button>
    <button mat-menu-item (click)="closeApp()">{{ 'MENU.QUIT' | translate }}</button>
</mat-menu>

<mat-menu #actions="matMenu">
    <button mat-menu-item (click)="addPage()">{{ 'MENU.ACTIONS.ADD_PAGE' | translate }}</button>
    <button mat-menu-item (click)="addTab()">{{ 'MENU.ACTIONS.ADD_TAB' | translate }}</button>
    <button mat-menu-item (click)="removeTab()">{{ 'MENU.ACTIONS.REMOVE_TAB' | translate }}</button>
</mat-menu>