.title {
    background-color: #CCC;;
}

.drag-handle {
    padding-right: 5px;
}
.invisibleFullScreen {
    display: block;
    position: absolute;
    top:0px; bottom: 0px;
    left: 0px; right: 0px;
    opacity: 0.5;
    background-color: white;
}

.pageView {
    height: 100%;
    width: 100%;
}
app-addressbar {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
}
//.pageView:hover app-addressbar {
//    display: block;
//}

// .webview:hover app-addressbar {
//     display: block;
// }