<div class="invisibleFullScreen" *ngIf="item.setDrag"></div>
<div #container class="pageView">
    <app-addressbar [item]=item [callbacks]=webvieCallbacks [webview]=webview></app-addressbar>
    <webview id="wv-{{item.id}}" src='{{item.url}}' autosize="on" style="height: 100%;" #webview useragent="{{useragent}}"></webview>

    <span *ngIf="item.reload">
        {{reload()}}
    </span>
    <span *ngIf="item.back">
        {{back()}}
    </span>
    <span *ngIf="item.forward">
        {{forward()}}
    </span>
</div>