<div *ngIf="tabs$ | async as tabs" class="content">
    <gridster *ngFor="let tabId of tabs" [options]="getOption(tabId)" [class.hide]="selectedTabId!=tabId">
        <!-- <div *ngIf="pages$[tabId] | async as pages">
            {{log(pages)}}
            <gridster-item *ngFor="let item of pages | keyvalue" [item]=item.value>
                <app-grid-item [item]=item.value></app-grid-item>
            </gridster-item>
        </div> -->
        <div *ngFor="let item of items[tabId] | keyvalue">
            <gridster-item [item]="item.value" *ngIf="!item.value.isDeleted">
                <!-- <gridster-item *ngFor="let item of items[tabId]" [item]=item> -->
                <app-grid-item [item]=item.value></app-grid-item>
            </gridster-item>
        </div>
    </gridster>
</div>