<gridster [options]="options">
    <gridster-item [item]="web" >
        <input type="text">
        <webview src='http://heise.de' autosize="on" style="height: 100%;"></webview>
    </gridster-item>
    <gridster-item [item]="item" *ngFor="let item of dashboard">
        <div class="button-holder">
            <div class="gridster-item-content" *ngIf="item.hasContent">
                <div class="stuff">
                    <span>Some content to select and click without dragging the widget</span>
                    <a href="https://www.google.com" target="_blank">Link to Google</a>
                </div>
            </div>
            <div class="item-buttons" *ngIf="item.hasContent">
                <button mat-icon-button mat-raised-button class="drag-handler">
                    <!-- <mat-icon>open_with</mat-icon> -->
                </button>
                <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
                    (touchstart)="removeItem($event, item)">
                    <!-- <mat-icon>delete</mat-icon> -->
                </button>
            </div>
            <label *ngIf="!item.hasContent">{{item.label}}</label>
            <button mat-mini-fab *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
                <!-- <mat-icon>delete</mat-icon> -->
            </button>
        </div>
    </gridster-item>
</gridster>
<!-- <div *ngIf="pageOptions.editPages">
    Ja
    <div *ngIf="pages$ | async as pages">
        {{log(pages)}}
        <table>
                <tr *ngFor="let tmp of Arr(getMax('x',pages)+1).fill(0); let y=index; let rowCount=count">
                    <td *ngFor="let tmp2 of Arr(getMax('y',pages)+1).fill(0); let x=index; let cellCount=count">
                        {{x}} {{y}};
                        <ng-template *ngIf="y==(rowCount-1)">
                            +
                        </ng-template>
                        <app-page *ngIf="getPage(x,y)" [page]=getPage(x,y)></app-page>
                    </td>
                </tr>
        </table>
    </div>
</div> -->

<ng-template *ngIf="pageOptions$ | async as pageOptions">
    {{log(pageOptions)}}
    hallo
    <!-- <div *ngIf="pages$ | async as pages"></div>
        {{log(pages)}}


        <table id="pageTable" style="border: 1px;">
            <tr *ngFor="let row of pages; let y=index; let rowCount=count">
                <td *ngFor='let column of row; let x=index'>
                    <app-page [pageX]=x [pageY]=y [rowCount]=rowCount [tabId]=tabId></app-page>
                </td>
            </tr>
        </table>

    </div> -->
</ng-template>